<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="ChangeLanguage('afr')" target="_blank">
                Afrikaans
            </a>
            <a class="item" ng-click="ChangeLanguage('ara')" target="_blank">
                Arabic
            </a>

            <a class="item" ng-click="ChangeLanguage('bos')" target="_blank">
                Bosnian
            </a>
            <a class="item" ng-click="ChangeLanguage('bul')" target="_blank">
                Bulgarian
            </a>

            <a class="item" ng-click="ChangeLanguage('ben')" target="_blank">
                Bangla
            </a>
            <a class="item" ng-click="ChangeLanguage('chi')" target="_blank">
                Chinese
            </a>
            <a class="item" ng-click="ChangeLanguage('hrv')" target="_blank">
                Croatian
            </a>
            <a class="item" ng-click="ChangeLanguage('cze')" target="_blank">
                Czech
            </a>
            <a class="item" ng-click="ChangeLanguage('cat')" target="_blank">
                Catalan
            </a>
            <a class="item" ng-click="ChangeLanguage('dani')" target="_blank">
                Danish
            </a>
            <a class="item" ng-click="ChangeLanguage('dut')" target="_blank">
                Dutch
            </a>

            <a class="item" ng-click="ChangeLanguage('eng')" target="_blank">
                English
            </a>
            <a class="item" ng-click="ChangeLanguage('est')" target="_blank">
                Estonian
            </a>
            <a class="item" ng-click="ChangeLanguage('fre')" target="_blank">
                French
            </a>

            <a class="item" ng-click="ChangeLanguage('fil')" target="_blank">
                Filipino
            </a>
            <a class="item" ng-click="ChangeLanguage('fin')" target="_blank">
                Finnish
            </a>
            <a class="item" ng-click="ChangeLanguage('ger')" target="_blank">
                German
            </a>

            <a class="item" ng-click="ChangeLanguage('gre')" target="_blank">
                Greek
            </a>
            <a class="item" ng-click="ChangeLanguage('hun')" target="_blank">
                Hungarian
            </a>
            <a class="item" ng-click="ChangeLanguage('heb')" target="_blank">
                Hebrew
            </a>
            <a class="item" ng-click="ChangeLanguage('hin')" target="_blank">
                Hindi
            </a>
            <a class="item" ng-click="ChangeLanguage('ita')" target="_blank">
                Italian
            </a>
            <a class="item" ng-click="ChangeLanguage('ind')" target="_blank">
                Indonesian
            </a>
            <a class="item" ng-click="ChangeLanguage('jpn')" target="_blank">
                Japanese
            </a>
            <a class="item" ng-click="ChangeLanguage('swa')" target="_blank">
                Kishwahili
            </a>
            <a class="item" ng-click="ChangeLanguage('kor')" target="_blank">
                Korean
            </a>
            <a class="item" ng-click="ChangeLanguage('lav')" target="_blank">
                Latvian
            </a>
            <a class="item" ng-click="ChangeLanguage('lit')" target="_blank">
                Lithuanian
            </a>
            <a class="item" ng-click="ChangeLanguage('may')" target="_blank">
                Malay
            </a>
            <a class="item" ng-click="ChangeLanguage('mlt')" target="_blank">
                Maltese
            </a>
            <a class="item" ng-click="ChangeLanguage('nor')" target="_blank">
                Norwegian
            </a>

            <a class="item" ng-click="ChangeLanguage('pol')" target="_blank">
                Polish
            </a>
            <a class="item" ng-click="ChangeLanguage('por')" target="_blank">
                Portugese
            </a>



            <a class="item" ng-click="ChangeLanguage('fas')" target="_blank">
                Persian
            </a>
            <a class="item" ng-click="ChangeLanguage('rom')" target="_blank">
                Romanian
            </a>
            <a class="item" ng-click="ChangeLanguage('rus')" target="_blank">
                Russian
            </a>

            <a class="item" ng-click="ChangeLanguage('spa')" target="_blank">
                Spanish
            </a>

            <a class="item" ng-click="ChangeLanguage('srp')" target="_blank">
                Serbian
            </a>
            <a class="item" ng-click="ChangeLanguage('slk')" target="_blank">
                Slovak
            </a>
            <a class="item" ng-click="ChangeLanguage('slv')" target="_blank">
                Slovenian
            </a>
            <a class="item" ng-click="ChangeLanguage('swe')" target="_blank">
                Swedish
            </a>
            <a class="item" ng-click="ChangeLanguage('tur')" target="_blank">
                Turkish
            </a>

            <a class="item" ng-click="ChangeLanguage('tha')" target="_blank">
                Thai
            </a>
            <a class="item" ng-click="ChangeLanguage('ukr')" target="_blank">
                Ukranian
            </a>

            <a class="item" ng-click="ChangeLanguage('urd')" target="_blank">
                Urdu
            </a>
            <a class="item" ng-click="ChangeLanguage('vie')" target="_blank">
                Vietnamese
            </a>



        </div>
    </ion-content>
</ion-popover-view>