<ion-view>
    <ion-nav-buttons side="right"></ion-nav-buttons>

  <ion-content class="padding">

          <h1 class="title text-center">{{ 'REMINDERS' | translate }}</h1>

      <form name="reminder" method="post" class="wpcf7-form" novalidate="">
          <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="233">
              <input type="hidden" name="_wpcf7_version" value="4.7">
              <input type="hidden" name="_wpcf7_locale" value="en_US">
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f233-o1">
              <input type="hidden" name="_wpnonce" value="548e6644ec">
          </div>
          <p>
              {{ 'DETAIL' | translate }}
          </p>
          <p>
              {{ 'DETAIL1' | translate }}
          </p>
          <ul>
              <li>{{ 'RAISON1' | translate }} .</li></br>
              <li>{{ 'RAISON2' | translate }} .</li></br>
              <li>{{ 'RAISON3' | translate }} .</li></br>
              <li>{{ 'RAISON4' | translate }} .</li></br>
          </ul></br>
          <p><b>{{ 'RAISON1' | translate }}</b> : {{ 'RAISON1_EXPL' | translate }}<br></p></br>
          <p><b>{{ 'RAISON2' | translate }}</b> : {{ 'RAISON2_EXPL' | translate }}<br></p></br>
          <p><b>{{ 'RAISON3' | translate }}</b> : {{ 'RAISON3_EXPL' | translate }}<br></p></br>
          <p><b>{{ 'RAISON4' | translate }}</b> : {{ 'RAISON4_EXPL' | translate }}<br></p></br>
          <p><b>{{ 'RAISON5_EXPL' | translate }}</b></p></br>
           <div class="wpcf7-response-output wpcf7-display-none"></div></form>

      <div class="row" class="animate-fade-slide-in">

          <div class="col ink" style="text-align: center">
              <img src="img/daracar.png" style="height: 80px;" />
          </div>
      </div>

	</ion-content>
</ion-view>
