/.idea/
/node_modules/
/bower_components/
/platforms/ios/
/platforms/android/
/plugins/cordova-plugin-actionsheet/
/plugins/cordova-plugin-admobpro/
/plugins/cordova-plugin-app-event/
/plugins/cordova-plugin-background-mode/
/plugins/cordova-plugin-camera/
/plugins/cordova-plugin-cocoapod-support/
/plugins/cordova-plugin-compat/
/plugins/cordova-plugin-device/
/plugins/cordova-plugin-dialogs/
/plugins/cordova-plugin-email-composer/
/plugins/cordova-plugin-extension/
/plugins/cordova-plugin-file/
/plugins/cordova-plugin-file-opener2/
/plugins/cordova-plugin-file-transfer/
/plugins/cordova-plugin-filepath/
/plugins/cordova-plugin-flashlight/
/plugins/cordova-plugin-geolocation/
/plugins/cordova-plugin-globalization/
/plugins/cordova-plugin-image-picker/
/plugins/cordova-plugin-inappbrowser/
/plugins/cordova-plugin-ionic-webview/
/plugins/cordova-plugin-nativeaudio/
/plugins/cordova-plugin-network-information/
/plugins/cordova-plugin-request-location-accuracy/
/plugins/cordova-plugin-splashscreen/
/plugins/cordova-plugin-statusbar/
/plugins/cordova-plugin-vibration/
/plugins/cordova-plugin-whitelist/
/plugins/cordova-plugin-x-socialsharing/
/plugins/cordova-plugin-x-toast/
/plugins/cordova-sms-plugin/
/plugins/de.appplant.cordova.plugin.local-notification/
/plugins/ionic-plugin-keyboard/
/plugins/uk.co.workingedge.phonegap.plugin.launchnavigator/
