<ion-view view-title="Profile" class="dash">
  <ion-content>
        <div class="row">
          <div class="col col-33">
            <strong>Name</strong>
          </div>
          <div class="col col-75">
            <span>John Deo</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>Email</strong>
          </div>
          <div class="col col-75">
            <span>John@Deo.com</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>User Type</strong>
          </div>
          <div class="col col-75">
            <span>Guard</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>Date of Birth</strong>
          </div>
          <div class="col col-75">
            <span>1990-12-12</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>SIA Licence</strong>
          </div>
          <div class="col col-75">
            <span>12132156467654</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>SIA Start Date</strong>
          </div>
          <div class="col col-75">
            <span>2015-12-12</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>SIA End Date</strong>
          </div>
          <div class="col col-75">
            <span>2016-12-12</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>User Key</strong>
          </div>
          <div class="col col-75">
            <span>SAD12345A321</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>location</strong>
          </div>
          <div class="col col-75">
            <span>User Lotion</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>Latitude</strong>
          </div>
          <div class="col col-75">
            <span>Dummy latitude</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>Longitude</strong>
          </div>
          <div class="col col-75">
            <span>Dummy longitude</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <strong>Contact Number</strong>
          </div>
          <div class="col col-75">
            <span>+01 123456789</span>
          </div>
        </div>

    <div class="center">
      <div class="hardware">
        <div class="row">
          <div class="col">
            <button class="button button-positive" ui-sref="app.profileedit()">
              Edit Profile
            </button>
          </div>

          <div class="col">
            <button class="button button-positive" ui-sref="app.addattendance()">
              Add Attendance
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
