<ion-view class="dash" ng-init="showPost()">
  <ion-content>
  	<ion-list>

      <div class="row animate-fade-slide-in">

        <div class="col ink" ui-sref="app.page({post:225})" >
          <span class="iconmenu icon ion-person orange myborder"></span>
          <p>{{ 'ABOUT' | translate }}</p>
        </div>

        <div class="col ink" ui-sref="app.page({post:54})" >
          <span class="iconmenu icon ion-plus emergency red myborder"></span>
          <p>{{ 'EMERGENCY' | translate }}</p>
        </div>

       <!-- <div class="col ink" ui-sref="app.page({post:162})" >
          <span class="iconmenu icon ion-document green myborder"></span>
          <p>Ins Form 1</p>
        </div>-->
          <div class="col ink" ui-sref="app.location" >
              <span class="iconmenu icon ion-search myborder lightgreen"></span>
              <p>{{ 'LOCATION' | translate }}</p>
          </div>



      </div>

      <div class="row" class="animate-fade-slide-in">

        <!--<div class="col ink" ui-sref="app.page({post:60})" >
          <span class="iconmenu icon ion-search myborder lightgreen"></span>
          <p>Location</p>
        </div>-->
          <div class="col ink" ui-sref="app.page({post:169})" >
              <span class="iconmenu icon ion-ios-camera blue myborder"></span>
              <p>{{ 'PHOTOS' | translate }}</p>
          </div>

          <div class="col ink" ui-sref="app.form_1" >
              <span class="iconmenu icon ion-document green myborder"></span>
              <p>{{ 'REPORT' | translate }}</p>
          </div>

        <!--<div class="col ink" ui-sref="app.page({post:167})" >
          <span class="iconmenu icon ion-ios-paper lightblue myborder"></span>
          <p>Ins Form 2</p>
        </div>-->
          <div class="col ink" ui-sref="app.form_2" >
          <span class="iconmenu icon ion-ios-paper lightblue myborder"></span>
          <p>{{ 'INSURANCE' | translate }}</p>
        </div>

      </div>

      <div class="row" class="animate-fade-slide-in">

       <!-- <div class="col ink" ui-sref="app.page({post:227})" >
          <span class="iconmenu icon ion-ios-calendar yellow myborder"></span>
          <p>Reminders</p>
        </div>-->
          <div class="col ink" ui-sref="app.reminders" >
          <span class="iconmenu icon ion-ios-calendar yellow myborder"></span>
          <p>{{ 'REMINDERS' | translate }}</p>
        </div>

        <div class="col ink" ui-sref="app.page({post:250})" >
          <span class="iconmenu icon ion-checkmark-round purpel myborder"></span>
          <p>{{ 'ASSOCIATES' | translate }}</p>
        </div>

        <div class="col ink" ui-sref="app.page({post:244})">
          <span class="iconmenu icon ion-briefcase violet myborder"></span>
          <p>{{ 'TERMS' | translate }}</p>
        </div>

      </div>



      <!--<div class="row" class="animate-fade-slide-in">

        <div class="col ink">&lt;!&ndash;<span class="badge badge-assertive payslips">0</span>&ndash;&gt;

        </div>

        <div class="col ink" ng-controller="AuthCtrl"  ng-click="logout()">
          <span class="iconmenu icon ion-log-out blue myborder"></span>
          <p>Logout</p>
        </div>

        <div class="col ink">&lt;!&ndash;<span class="badge badge-assertive payslips">0</span>&ndash;&gt;

        </div>
      </div>-->
      <!--<div class="row" ng-repeat="x in mainmenu" ng-if="$index%3==0" class="animate-fade-slide-in">
        <div class="col ink" ui-sref="app.dashlist({id: mainmenu[$index].id})" ng-if="$index < mainmenu.length">
          <span class="iconmenu icon {{mainmenu[$index].icon}}"></span>
          <p>{{mainmenu[$index].title}}</p>
        </div>
        <div class="col ink" ui-sref="app.dashlist({id: mainmenu[$index+1].id})" ng-if="$index+1 < mainmenu.length">
          <span class="iconmenu icon {{mainmenu[$index+1].icon}}"></span>
          <p>{{mainmenu[$index+1].title}}</p>
        </div>
        <div class="col ink" ui-sref="app.dashlist({id: mainmenu[$index+2].id})" ng-if="$index+2 < mainmenu.length">
          <span class="iconmenu icon {{mainmenu[$index+2].icon}}"></span>
          <p>{{mainmenu[$index+2].title}}</p>
        </div>
      </div>-->

        <div class="row" class="animate-fade-slide-in">

            <div class="col ink" style="text-align: center">
              <img src="img/daracar.png" style="height: 80px;" />
             </div>
        </div>

  	</ion-list>
  </ion-content>
</ion-view>
