<ion-view class="account-orders-view account-sub-view" cache-view="false" view-title="My Orders">
  <ion-content>
    <div class="orders-row" style="background: white">
      <div class="card order-item" ng-repeat="booking in bookings" ng-if="salon ==1">
        <div class="item item-divider order-header">
          <span class="header-title">{{booking.on_or_after_time | amDateFormat:'DD MMM, YYYY H:m a'}}<span ng-if="booking.booking_status == 1" ng-click="cancelAppointment(booking.id)" style="float: right" class="header-title assertive">cancel</span></span>
        </div>
        <a ng-if="booking.booking_status == 1" ui-sref="main.app.account.bookings.approve({id:booking.id,date:booking.on_or_after_time,mess:booking.message})" style="float: left;width: 100%">

           <div class="item item-text-wrap order-content">
            <div class="row order-product">
              <div class="col col-20 product-image-col">
                <pre-img ratio="_0_0">
                  <img ng-if="booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/backend/uploads/salons/'+booking.user.user_detail.image}}" spinner-on-load>
                  <img ng-if="!booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/service/ser4.jpg'}}" spinner-on-load>

                </pre-img>
              </div>
              <div class="col col-center name-col">
                <span class="product-name">{{booking.user.name}}</span>
              </div>
            </div>
           </div>
           
               <div class="item item-divider order-footer shipped">
                 <span class="status-title">In Progress</span>
               </div>
             

           </a>
        <div ng-if="booking.booking_status != 1">
          <div class="item item-text-wrap order-content">
            <div class="row order-product">
              <div class="col col-20 product-image-col">
                <pre-img ratio="_0_0">
                  <img ng-if="booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/backend/uploads/salons/'+booking.user.user_detail.image}}" spinner-on-load>
                  <img ng-if="!booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/service/ser4.jpg'}}" spinner-on-load>

                </pre-img>
              </div>
              <div class="col col-center name-col">
                <span class="product-name">{{booking.user.name}}</span>
              </div>
            </div>
          </div>
          <div ng-switch="booking.booking_status">
            <div ng-switch-when="0">
              <div class="item item-divider order-footer canceled">
                <span class="status-title">Canceled</span>
              </div>
            </div>
            <span ng-switch-when="2">
               <div class="item item-divider order-footer delivered">
             <span class="status-title">Successful</span>
           </div>
             </span>
          </div>

        </div>
      </div>


      <div class="card order-item" ng-repeat="booking in bookings" ng-if="salon !=1">

        <div class="item item-divider order-header">
          <span class="header-title">{{booking.on_or_after_time | amDateFormat:'DD MMM, YYYY h:m a'}}</span><span ng-if="booking.booking_status == 1" ng-click="cancelAppointment(booking.id)" style="float: right" class="header-title assertive">cancel</span>
        </div>
        <div class="item item-text-wrap order-content">
          <div class="row order-product">
            <div class="col col-20 product-image-col">
              <pre-img ratio="_0_0">
                <img ng-if="booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/backend/uploads/salons/'+booking.user.user_detail.image}}" spinner-on-load>
                <img ng-if="!booking.user.user_detail.image" class="product-image cart-img" ng-src="{{serverDomain+'img/service/ser4.jpg'}}" spinner-on-load>

              </pre-img>
            </div>
            <div class="col col-center name-col">
              <span class="product-name">{{booking.user.name}}</span>
            </div>
          </div>
        </div>
        <div ng-switch="booking.booking_status">
          <div ng-switch-when="0">
            <div class="item item-divider order-footer canceled">
              <span class="status-title">Canceled</span>
            </div>
          </div>
          <div ng-switch-when="1">
            <div class="item item-divider order-footer shipped">
              <span class="status-title">In Progress</span>
            </div>
          </div>
          <span ng-switch-when="2">
               <div class="item item-divider order-footer delivered">
             <span class="status-title">Successful</span>
           </div>
             </span>
        </div>
      </div>

      <div style="text-align: center;color:red" ng-if="!bookings.length || bookings == []">
        No Booking till now!.
      </div>
    </div>
  </ion-content>
</ion-view>
