<ion-view class="account-view" cache-view="false" view-title="NewsLetter Detail">
  <ion-header-bar class="account-header">
    <div class="buttons">
      <button class="button button-clear back-button" style="color: white" ng-click="closeModal()">Back</button>
    </div>
    <h1 class="title">NewsLetter Detail</h1>
  </ion-header-bar>
  <ion-content style="background: white">
    <div class="item item-divider" style="text-align: center">
      DESCRIPTION
    </div>
    <h4 class="title" style="text-align: center">{{detail.title}}</h4>
    <div class="padding">
      <p>{{detail.discription}}</p>
    </div>
  </ion-content>
</ion-view>
