<ion-view view-title="Image Picker">
  <ion-content class="padding" scroll="false">
    <div class="text text-center">{{date| date: "d/M/y h:mm:ss"}}</div>
  	<button class="button button-energized button-block" ng-click="takePic()">Take Picture</button>
  	<!--<ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
      <img ng-repeat="x in images" ng-src="{{x}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </ion-scroll>-->
  </ion-content>
</ion-view>
